@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@900&family=Montserrat:wght@800&family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* 
font-family: 'Libre Franklin', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; 
*/

button:focus {outline:0;}

#fixedbutton {
    width: 50px;
    height: auto;
    position: fixed;
    bottom: 3%;
    right: 2%;
    z-index: 30; 
}

/*  General */

a {
    text-decoration: none;
}


/* -------------------------------------------------------- header ------------------------------------------------------------ */

header{
    /* min-height: 100vh; */
    background-color:white                       ;
}

/* ----------------- top lable ------------------ */
div.w3-container{
    padding-left: 0px;
    padding-right: 0px;
}
.pa{
    margin-bottom: 0px;
    margin-top: 0px;
}

.w3-bar{
    display: flex;
    /* justify-content: space-between; */
    background-color: #1e266d;
    color: white !important;
    font-family: 'Roboto', sans-serif; 
}
.w3-bar a,p{
    font-size: 10px;
  }
.w3-bar-left{
    width: 80%;
    text-align: left;
    padding-left: 15px;
}
.w3-bar-right{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 25px;
}
.w3-bar-rightb{
    font-size:10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    cursor: pointer;
    background-color: #84e0e4;
    border: 1.5px solid #84e0e4;
    padding: 0 3px;
    border-radius: 5px;
    color: #1e266d;
    transition: .2s ease-in-out;
}
.w3-bar-rightb:hover{
    background-color: transparent;
    color: white;
}
#w3-bar-right-1{
    margin-right: 10px;
}
.w3-bar-item{
    transition: .1s ease-out;
}

.w3-bar-item:hover{
    color: #d3f6f6;
}
@media (max-width: 439px){
    .w3-bar-left{
        padding-left: 10px;
    }
    .w3-bar-right{
        padding-right: 12px;
    }
    a.w3-bar-item{
        padding: 8px 5px !important;
    }
}
@media (max-width: 767px){
  .w3-bar a,p{
    font-size: 8px;
  }
  a.w3-bar-item.w3-button{
    padding: 8px 5px;
  }
}

/* --------------- navbar --------------------- */
.navbaru{
    position: relative;
    padding: 10px;
    background:#F2F3F4;
    box-sizing: border-box;
    box-shadow: 0 3px 3px 0px rgba(0,0,0,.2);
}

.navbaru-logo{
    position: absolute;
    top: -50%;
    left: -1%;
    width: 200px;
    float: left;
}
.navu{
    float: right;
}
.clearfix{
    clear: both;
}

.navu ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navu ul li{
    list-style: none;
    font-family: 'Roboto', sans-serif; 
    font-size: 12px;
    font-weight: 600;
}

.navu ul li a{
    display: block;
    margin: 0px 5px;
    padding: 8px 20px;
    text-decoration: none;
    color: black;
}
.navu ul li a.active,
.navu ul li a:hover{
    color: #00387a;
    transition: .5s;
}

@media screen and (max-width:649px){
    .navbaru-logo{
        top: -6%;
        width: 100px;
    }
    .navu ul li{
        font-size: 8px;
    }
    
    .navu ul li a{
        margin: 1px 3px;
        padding: 5px 10px;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 30;
  }

/* ------------------ carousel --------------------- */
.main-home{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    overflow: hidden;
    cursor: context-menu;
    min-height: 85vh;
}
.main-home-left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 65%;
}

.slider-main{
    height: 60vh;
    width: 82%;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow: hidden;
    object-fit: cover;
}

.main-home-left-bottom{
    margin-top: 20px;
    display: flex;
    width: 84%;
    min-height: 20vh;
}

.main-home-left-bottom-box{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 22%;
    min-height: 23vh;
    margin: auto;
    background-color: #e5eef6;
    border-radius: 5px;
}
.main-home-left-bottom-box:hover{
    box-shadow: 0 0 5px 2px #E5E7E9;
}

.main-home-left-bottom-box h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color:#1e266d;
    font-weight: 1000;
    text-align: center;
}

.main-home-left-bottom-box p{
    font-family: 'Raleway', sans-serif;
    width: 90%;
    margin:0 auto;
    font-size: 10px;
    text-align: center;
    color:  #00387a;
}


.main-home-right{
    width: 35%;
    min-height: 60vh;
    transform: translateX(-5%);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.main-heading{
    width: 80%;
    font-size: 63px;
    font-family: 'Libre Franklin', sans-serif;
    color: #1e266d;
    letter-spacing: 3px;
    /* line-height: 12vh; */
}

.main-para{
    width: 80%;
    font-size: 15px;
    color:#00387a;
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif; 
    padding-top: 20px;
}

@media screen and (min-width:1000px) and (max-width:1299px){
    .slider-main{
        width: 95%;
        height: 50vh;
    }

    .main-home-left-bottom{
        width: 99%;
    }

    .main-home-right{
        margin-left: 30px;
        width: 30%;
    }
    .main-heading{
        width: 70%;
        font-size: 44px;
        font-weight: 1200;
        letter-spacing: 2px;
    }
    
    .main-para{
        width: 70%;
        font-size: 15px;
    }
}

@media screen and (min-width:768px) and (max-width:999px){
    .slider-main{
        width: 95%;
        height: 50vh;
    }
    .main-home-left-bottom{
        width: 99%;
    }

    .main-home-right{
        margin-left: 30px;
        width: 30%;
    }
    .main-heading{
        width: 70%;
        font-size: 30px;
        font-weight: 1200;
        letter-spacing: 2px;
    }
    
    .main-para{
        width: 90%;
        font-size: 15px;
    }

    .main-home-left-bottom-box h1{
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 800;
    }
    
    .main-home-left-bottom-box p{
        font-family: 'Raleway', sans-serif;
        width: 95%;
        margin:0 auto;
        font-size: 8px;
        text-align: left;
        margin-left: 5px;
    }
}

@media screen and (max-width:767px){
    .main-home{
        width: 100%;
        flex-direction: column;
        min-height: 85vh;
    }
    .main-home-left{
        width: 98%;
    }
    .slider-main{
        width: 95%;
        margin: 0;
        height: 40vh;
    }
    .main-home-left-bottom{
        width: 98%;
    }
    
    .main-home-left-bottom-box{
        width: 23%;
    }
    
    .main-home-left-bottom-box h1{
        font-size: 10px;
    }
    .main-home-left-bottom-box p{
        width: 95%;
        font-size: 7px;
    }
    .main-home-right{
        width: 95%;
        min-height: 20vh;
        transform: translateX(0%);
        justify-content: center;
    }
    .main-heading{
        padding-top: 15px;
        width: 95%;
        margin:0 auto;
        font-size: 18px;
        letter-spacing: 2px;
        text-align: center;
    }
    
    .main-para{
        width: 90%;
        margin: 0 auto;
        font-size: 11px;
        text-align: center;
    }
}

/* ---------------------------------------------------- end header ------------------------------------------------------------ */

/* ---------------------------------------------------- about ------------------------------------------------------------ */

.aboutus{
    width: 88%;
    margin: 50px auto 30px auto ;
    min-height: 80vh;
    background-color: #00387a;
    display: flex;
}

.aboutus-left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aboutus-left-heading{
    cursor: context-menu;
    text-align: center;
    font-size: 55px;
    font-family: 'Libre Franklin', sans-serif;
    color:white;
    letter-spacing: 3px;
    /* margin-top: 12%; */
}

.aboutus-left-para{
    cursor: context-menu;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color:#d3f6f6;
    width: 85%;
    margin-top: 20px;
    padding-left: 30px;
    line-height: 25px;
    letter-spacing: 1px;
}
.aboutus-left-button{
    padding-top: 30px;
    transition: .2s ease-out;
}

.aboutus-left-button a{
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    border-bottom: 2px solid white;
    padding: 8px 15px;
}
.aboutus-left-button:hover{
    transform: scale(1.05);
    
}

.aboutus-left-button a:hover{
    color: #d3f6f6;
    border-bottom: 2px solid #d3f6f6;
}

.aboutus-right{
    width: 50%;
    margin: auto;
    background-color:#00387a;
}

.aboutus-right img{
    height: 70vh;
    width: 95%;
    margin: auto;
    object-fit: cover;
    /* transform: translateY(7%); */
} 

@media screen and (min-width:900px) and (max-width:1299px){
    .aboutus{
        min-height: 63vh;
        width: 95%;
    }
    
    .aboutus-left-heading{
        font-size: 45px;
    }
    
    .aboutus-left-para{
        font-size: 13px;
        margin-top: 15px;
        padding-left: 25px;
        line-height: 22px;
    }
    .aboutus-left-button{
        padding-top: 25px;
    }
    
    .aboutus-left-button a{
        font-size: 12px;
        padding: 5px 15px;
    }
    .aboutus-left-button:hover{
        transform: scale(1.03);
        
    }
    .aboutus-right img{
        height: 55vh;
    }
}

@media screen and (min-width:768px) and (max-width:899px){
    .aboutus{
        min-height: 58vh;
        width: 95%;
    }
    
    .aboutus-left-heading{
        font-size: 40px;
    }
    
    .aboutus-left-para{
        width: 95%;
        font-size: 11px;
        margin-top: 15px;
        padding-left: 20px;
        line-height: 20px;
    }
    .aboutus-left-button{
        padding-top: 22px;
    }
    
    .aboutus-left-button a{
        font-size: 10px;
        padding: 5px 15px;
    }
    .aboutus-left-button:hover{
        transform: scale(1.03);
        
    }
    .aboutus-right img{
        height: 45vh;
    }
}

@media screen and (max-width:767px){
    .aboutus{
        min-height: 70vh;
        width: 95%;
        flex-direction: column;
    }
    .aboutus-left{
        width: 98%;
    }
    .aboutus-left-heading{
        padding-top: 15px;
        font-size: 35px;
    }
    
    .aboutus-left-para{
        width: 95%;
        font-size: 8px;
        margin-top: 12px;
        padding-left: 15px;
        line-height: 14px;
    }
    .aboutus-left-button{
        padding-top: 5px;
        padding-bottom: 13px;
    }
    
    .aboutus-left-button a{
        font-size: 8px;
        padding: 3px 12px;
    }
    .aboutus-left-button:hover{
        transform: scale(1.03);
        
    }
    .aboutus-right{
        height: 43vh;
        width: 100%;
        margin: auto;
    }
    
    .aboutus-right img{
        height: 40vh;
        width: 95%;
        margin: auto;
        transform: translateX(2.5%);
    } 
}
/* ---------------------------------------------------- end about ------------------------------------------------------------ */

/* ---------------------------------------------------- partners -------------------------------------------------------------- */

.partner{
    min-height: 40vh;
    padding-top: 20px;
}

.partner-heading{
    text-align: center;
    font-size: 60px;
    color: #00387a;
    font-family: 'Libre Franklin', sans-serif;
}
.logo-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 25px auto;
}

.logo-box-box{
    background-color: #f8f9fa;
    width: 19.7%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: .01px solid white;
    transition: box-shadow .2s linear;
    /* cursor: pointer; */
}
.logo-box-box:hover{
    background-color: #f8f9fa;
    box-shadow: 0 0 2rem 0.5rem rgba(0, 0, 0, .08);
    border-radius: 2px;
    z-index: 2;
}
.popup{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.8);
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: .74s ease-in-out;
}
.popup-inner{
    position: relative;
    bottom: -100vw;
    right: -100vh;
    display: flex;
    align-items: center;
    max-width: 320px;
    max-height: 399px;
    width: 59%;
    height: 80%;
    background-color: whitesmoke;
    transform: rotate(32deg);
    transition: .74s ease-in-out;
}
.popup-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1rem;
}
.popup-text h1{
    font-family: 'Libre Franklin', sans-serif;
    color: #1e266d;
    letter-spacing: 2px;
    font-size: 50px;
}
.popup-text a{
    font-family: 'Montserrat', sans-serif;
    color: #00387a;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 15px;
    transition: .2s ease-in-out;
}
.popup-text a:hover{
    color: #459ba0;
}
.popup:target{
    visibility: visible;
    opacity: 1;
}
.popup:target .popup-inner{
    bottom: 0;
    right: 0;
    transform: rotate(0);
}
.popup-close{
    position: absolute;
    right: -1rem;
    top: -1rem;
    width: 3rem;
    height: 3rem;
    font-size: 15px;
    border-radius: 50%;
    background-color:#459ba0;
    z-index: 6;
    color: white;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: .3s ease-in-out;
}
.popup-close:hover{
    background-color:#00387a;
}
.logo-box-box img{
    width: 180px;
}

@media screen and (min-width:900px) and (max-width:1299px){
    .logo-box{
        width: 95%;
    }
    .logo-box-box{
        width: 20%;
        height: 22vh;
    }
    .logo-box-box img{
        width: 150px;
    }
}

@media screen and (min-width:768px) and (max-width:899px){
    .logo-box{
        width: 96%;
    }
    .logo-box-box{
        width: 20%;
        height: 20vh;
    }
    .logo-box-box img{
        width: 120px;
    }
}

@media screen and (max-width:767px){
    .partner-heading{
        font-size: 40px;
    }
    .logo-box{
        width: 96%;
    }
    .logo-box-box{
        width: 20%;
        height: 16vh;
    }
    .logo-box-box img{
        width: 60px;
    }
}
/* ---------------------------------------------------- end partners ------------------------------------------------------------ */

/* ---------------------------------------------------------- services -------------------------------------------------------------- */
.services{
    margin-top: 50px;
    min-height: 90vh;
}
.services-top{
    min-height: 50vh;
    width: 89%;
    margin: 0 auto;
    background:linear-gradient(0deg, rgba(255, 255, 255, .2), rgba(255, 255, 255,0.2)), url(../images/4.services/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 30%;
}
.services-top-text{
    width: 60%;
    min-height: 40vh;
    transform: translate(15%,12%);
    background:linear-gradient(0deg, rgba(	0, 56, 122, .7), rgba(	0, 56, 122,.7));
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.services-top-text .h1{
    color: white;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 55px;
    letter-spacing: 2px;
    margin-left: 5%;
}
.services-top-text .p{
    color: #d3f6f6;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 5%;
}
.services-bottom{
    min-height: 45vh;
    width: 89%;
    margin: 30px auto;
    display: flex;
}
.services-bottom-left{
    width: 65%;
    min-height: 40vh;
}
.services-bottom-left-text{
    width: 70%;
    min-height: 40vh;
    transform: translateX(20%);
    /* background-color: khaki; */
}
.services-bottom-left-text-h1{
    font-size: 30px;
    color: #1e266d;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2%;
}
.services-bottom-left-text-p{
    font-size: 13px;
    color:#00387a;
    font-family: 'Raleway', sans-serif;
    margin-left: 4%;
    margin-bottom: 2%;
}
.services-bottom-right{
    width: 32%;
    margin: 0 auto;
}
.services-bottom-right img{
    height:40vh;
    object-fit: cover;
    width: 98%;
    box-shadow: 8px 10px 14px -2px rgba(115,111,111,1);
}

.services-bottom-right-inner img{
    height:20vh;
    object-fit: cover;
    width: auto;
    transform: translate(-35%,-90%);
    box-shadow: 1px 11px 14px -2px rgba(115,111,111,1);
}

@media screen and (min-width:900px) and (max-width:1299px){
    .services-top{
        width: 95%;
    }
    .services-top-text{
        width: 70%;
        transform: translate(8%,12%);
    }
    .services-top-text .h1{
        font-size: 55px;
        letter-spacing: 2px;
        margin-left: 5%;
    }
    .services-top-text .p{
        font-size: 16px;
        letter-spacing: 1px;
        margin-left: 5%;
    }
    .services-bottom{
        width: 94%;
        margin: 30px auto;
    }
    .services-bottom-left{
        width: 65%;
        min-height: 40vh;
    }
    .services-bottom-left-text{
        width: 70%;
        min-height: 40vh;
        transform: translateX(12%);
    }
    .services-bottom-left-text-h1{
        font-size: 25px;
        margin-bottom: 2%;
    }
    .services-bottom-left-text-p{
        font-size: 13px;
        margin-left: 4%;
        margin-bottom: 2%;
    }
    .services-bottom-right{
        width: 32%;
        margin: 0 auto;
    }
    .services-bottom-right img{
        height:35vh;
        width: 98%;
    }
    
    .services-bottom-right-inner img{
        height:16vh;
        width: auto;
        transform: translate(-35%,-90%);
    }
}

@media screen and (min-width:768px) and (max-width:899px){
    .services-top{
        width: 95%;
    }
    .services-top-text{
        width: 70%;
        transform: translate(5%,12%);
    }
    .services-top-text .h1{
        font-size: 55px;
        letter-spacing: 2px;
        margin-left: 5%;
    }
    .services-top-text .p{
        font-size: 16px;
        letter-spacing: 1px;
        margin-left: 5%;
    }
    .services-bottom{
        width: 98%;
        margin: 30px auto;
    }
    .services-bottom-left{
        width: 65%;
        min-height: 40vh;
    }
    .services-bottom-left-text{
        width: 70%;
        min-height: 40vh;
        transform: translateX(11%);
    }
    .services-bottom-left-text-h1{
        font-size: 22px;
        margin-bottom: 2%;
    }
    .services-bottom-left-text-p{
        font-size: 12px;
        margin-left: 4%;
        margin-bottom: 2%;
    }
    .services-bottom-right{
        width: 32%;
        margin: 0 auto;
    }
    .services-bottom-right img{
        height:32vh;
        width: 98%;
    }
    
    .services-bottom-right-inner img{
        height:16vh;
        width: auto;
        transform: translate(-35%,-90%);
    }
}

@media screen and (max-width:767px){
    .services-top{
        width: 95%;
    }
    .services-top-text{
        width: 85%;
        transform: translate(5%,12%);
    }
    .services-top-text .h1{
        font-size: 40px;
        letter-spacing: 2px;
        margin-left: 5%;
    }
    .services-top-text .p{
        font-size: 13px;
        letter-spacing: 1px;
        margin-left: 5%;
    }
    .services-bottom{
        width: 98%;
        margin: 30px auto;
    }
    .services-bottom-left{
        width: 65%;
        min-height: 40vh;
    }
    .services-bottom-left-text{
        width: 83%;
        min-height: 40vh;
        transform: translateX(9%);
    }
    .services-bottom-left-text-h1{
        font-size: 14px;
        margin-bottom: 2%;
    }
    .services-bottom-left-text-p{
        font-size: 7px;
        margin-left: 4%;
        margin-bottom: 2%;
    }
    .services-bottom-right{
        width: 32%;
        margin: 0 auto;
    }
    .services-bottom-right img{
        height:32vh;
        width: 100%;
    }
    
    .services-bottom-right-inner img{
        height:12vh;
        width: auto;
        transform: translate(-35%,-90%);
    }
}
/* -------------------------------------------------------- end services ------------------------------------------------------------ */

/* -------------------------------------------------------- footer --------------------------------------------------------------- */

.footer{
    display: flex;
    color: white;
    background:linear-gradient(0deg, rgba(	0, 56, 122, .7), rgba(	0, 56, 122,.7)), url(../images/5.footer/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 90%;
    margin: 0 auto 20px auto;
}

.footer-box{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    width: 25%;
    margin: 0 auto;
    padding: 50px 0;
    transform: translateX(30%);
}

.footer-box img{
    width: 20%;
}
.footer-box p{
    color: #d3f6f6;
    width: 80%;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}
.footer-box h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}
.footer-hover{
    padding-bottom: 10px;
    transform: translateX(5%);
}
.footer-box a{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    transition: .3s ease-in-out;
}
.footer-box a:hover{
    color:#84e0e4;
}
.footer-box a span{
    padding-right: 8px;
}

.copyright{
    text-align: center;
    color: #1e266d;
    font-size: 12px;
    padding-bottom: 15px;
    font-family: 'Raleway', sans-serif;
}

@media screen and (min-width:900px) and (max-width:1299px){
    .footer{
        width: 95%;
    }
    
    .footer-box{
        width: 22%;
        transform: translateX(25%);
    }
    
    .footer-box img{
        width: 20%;
    }
    .footer-box p{
        width: 70%;
        font-size: 12px;
    }
    .footer-box h2{
        font-size: 22px;
    }
    .footer-hover{
        padding-bottom: 10px;
        transform: translateX(5%);
    }
    .footer-box a{
        font-size: 13px;
    }
    .footer-box a span{
        padding-right: 8px;
    }
    .copyright{
        font-size: 11px;
    }
}

@media screen and (min-width:768px) and (max-width:899px){
    .footer{
        width: 95%;
    }
    
    .footer-box{
        width: 22%;
        transform: translateX(20%);
    }
    
    .footer-box img{
        width: 22%;
    }
    .footer-box p{
        width: 80%;
        font-size: 12px;
    }
    .footer-box h2{
        font-size: 20px;
    }
    .footer-hover{
        padding-bottom: 10px;
        transform: translateX(5%);
    }
    .footer-box a{
        font-size: 12px;
    }
    .footer-box a span{
        padding-right: 8px;
    }
    .copyright{
        font-size: 11px;
    }
}

@media screen and (max-width:767px){
    .footer{
        width: 95%;
    }
    
    .footer-box{
        width: 25%;
        transform: translateX(10%);
        padding: 30px 0;
    }
    
    .footer-box img{
        width: 30%;
    }
    .footer-box p{
        width: 95%;
        font-size: 8px;
    }
    .footer-box h2{
        font-size: 12px;
        margin: 6px 0px;
    }
    .footer-hover{
        padding-bottom: 2px;
        transform: translateX(5%);
    }
    .footer-box a{
        font-size: 8px;
    }
    .footer-box a span{
        padding-right: 5px;
    }
    .copyright{
        font-size: 7px;
    }
}

/* -------------------------------------------------------- end footer ------------------------------------------------------------ */

/* -------------------------------------------------------- about us  ------------------------------------------------------------ */
.about-us{
    width: 90%;
    margin: 30px auto;
}

.top-about-us{
    text-align: center;
    padding: 10px 0px 30px 0px;
}

.top-about-us .h1{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 40px;
    color: #1e266d;
}
.top-about-us .p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #00387a;
    width: 60%;
    margin: 20px auto;
}

.medium-image{
    height: 40vh;
    background:linear-gradient(0deg, rgba(255, 255, 255, .4), rgba(255, 255, 255, .4)), url(../images/6.aboutUs/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: whitesmoke;
}

.medium-image-inner{
    background:linear-gradient(0deg, rgba(	0, 56, 122,.9), rgba(	0, 56, 122,.9));
    width: 100%;
    height: 27vh;
    /* transform: translate(65%,65%); */
    display: flex;
}
.medium-image-inner-left{
    width: 25%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.medium-image-inner-left img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.medium-image-inner-right{
    width: 80%;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color:#d3f6f6;
}

.medium-image-inner-right-p{
    width: 95%;
    text-align: left;
    line-height: 18px;
}


.bottom-about-us{
    padding-top: 50px;
    display: flex;
    padding-bottom: 30px;
}

.bottom-about-us-left{
    width: 39%;
    background:linear-gradient(0deg, rgba(	0, 56, 122, .7), rgba(	0, 56, 122,.7)), url(../images/6.aboutUs/3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bottom-about-us-left-inner{
    padding-left: 20px;
    width: 90%;
}

.bottom-about-us-left-h{
    color: #84e0e4;
    font-family: 'Montserrat', sans-serif;
    margin: 15px 0;
    font-size: 18px;
}

.bottom-about-us-left-P{
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 30px;
    font-size: 14px;
}

.bottom-about-us-right{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bottom-about-us-right-inner{
    padding-left: 20px;
    width: 80%;
}

.bottom-about-us-right-h{
    color: #1e266d;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
    font-size: 18px;
}

.bottom-about-us-right-P{
    color:#00387a;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 40px;
    font-size: 14px;
}

@media screen and (min-width:900px) and (max-width:1299px){
    .about-us{
        width: 95%;
    }
    
    .top-about-us .h1{
        font-size: 40px;
    }
    .top-about-us .p{
        font-size: 16px;
        width: 80%;
        margin: 20px auto;
    }
    
    .medium-image{
        height: 40vh;
    }
    
    .medium-image-inner{
        width: 100%;
        height: 20vh;
        /* transform: translate(65%,70%); */
    }
    .medium-image-inner-left{
        width: 25%;
        margin: auto;
    }
    
    .medium-image-inner-left img{
        width: 90px;
        height: 90px;
    }
    
    .medium-image-inner-right{
        width: 75%;
        margin: auto;
        font-size: 9px;
    }
    .medium-image-inner-right-p{
        width: 95%;
        line-height: 14px;
    }
    
    .bottom-about-us{
        padding-top: 90px;
        padding-bottom: 50px;
    }
    
    .bottom-about-us-left{
        width: 39%;
        min-height: 70vh;
    }
    
    .bottom-about-us-left-inner{
        width: 90%;
    }
    
    .bottom-about-us-left-h{
        font-size: 18px;
    }
    
    .bottom-about-us-left-P{
        font-size: 12px;
    }
    
    .bottom-about-us-right{
        width: 60%;
    }
    .bottom-about-us-right-inner{
        width: 80%;
    }
    
    .bottom-about-us-right-h{
        font-size: 18px;
    }
    
    .bottom-about-us-right-P{
        font-size: 12px;
    }
}

@media screen and (min-width:768px) and (max-width:899px){
    .about-us{
        width: 95%;
    }
    
    .top-about-us .h1{
        font-size: 40px;
    }
    .top-about-us .p{
        font-size: 14px;
        width: 90%;
        margin: 20px auto;
    }
    
    .medium-image{
        height: 40vh;
    }
    
    .medium-image-inner{
        width: 100%;
        height: 22vh;
        /* transform: translate(65%,70%); */
    }
    .medium-image-inner-left{
        width: 25%;
        margin: auto;
    }
    
    .medium-image-inner-left img{
        width: 80px;
        height: 80px;
    }
    
    .medium-image-inner-right{
        width: 75%;
        margin: auto;
        font-size: 10px;
    }
    
    .medium-image-inner-right-p{
        width: 98%;
        line-height: 14px;
    }
    
    .bottom-about-us{
        padding-top: 90px;
        padding-bottom: 50px;
    }
    
    .bottom-about-us-left{
        width: 39%;
        min-height: 70vh ;
    }
    
    .bottom-about-us-left-inner{
        width: 90%;
        padding-left: 10px;
    }
    
    .bottom-about-us-left-h{
        font-size: 15px;
    }
    
    .bottom-about-us-left-P{
        font-size: 10px;
    }
    
    .bottom-about-us-right{
        width: 60%;
    }
    .bottom-about-us-right-inner{
        width: 90%;
    }
    
    .bottom-about-us-right-h{
        font-size: 15px;
    }
    
    .bottom-about-us-right-P{
        font-size: 10px;
    }
}

@media screen and (max-width:767px){
    .about-us{
        width: 95%;
    }
    
    .top-about-us .h1{
        font-size: 25px;
    }
    .top-about-us .p{
        font-size: 10px;
        width: 98%;
        margin: 20px auto;
    }
    
    .medium-image{
        height: 30vh;
    }
    
    .medium-image-inner{
        width: 100%;
        height: 22vh;
        /* transform: translate(15%,50%); */
    }
    .medium-image-inner-left{
        width: 25%;
        margin: auto;
    }
    
    .medium-image-inner-left img{
        width: 70px;
        height: 70px;
        margin-left: 5px;
    }
    
    .medium-image-inner-right{
        width: 75%;
        margin: auto;
        font-size: 7px;
    }
    
    .medium-image-inner-right-p{
        width: 95%;
        margin-left: 5px;
        line-height: 12px;
    }
    
    .bottom-about-us{
        padding-top: 60px;
        padding-bottom: 10px;
        flex-direction: column;
    }
    
    .bottom-about-us-left{
        width: 100%;
        margin: 0 auto;
        min-height: 70vh ;
    }
    
    .bottom-about-us-left-inner{
        width: 100%;
        padding-left: 10px;
    }
    
    .bottom-about-us-left-h{
        font-size: 15px;
    }
    
    .bottom-about-us-left-P{
        font-size: 10px;
    }
    
    .bottom-about-us-right{
        width: 98%;
    }
    .bottom-about-us-right-inner{
        width: 100%;
        padding: 0 0 0 10px;
        margin-top: 15px;
    }
    
    .bottom-about-us-right-h{
        font-size: 15px;
    }
    
    .bottom-about-us-right-P{
        font-size: 10px;
        margin-bottom: 20px;
    }
}

/* -------------------------------------------------------- end  about us ---------------------------------------------------------- */

/* ---------------------------------------------------------- products  -------------------------------------------------------------- */
/* .product{
    background-color: #f6f6f6;
} */
.product-heading{
    color: #1e266d;
    text-align: center;
    padding: 30px 0;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 40px;
}

.product-box{
    width: 100%;
    margin: 10px auto;
    min-height: 60vh ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.product-box-box{
    position: relative;
    width: 310px;
    margin: 10px 10px;
    min-height:40vh ;
    background-color: white;
    box-shadow: 0px 0px 5px 2px rgba(181,181,181,0.55);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.product-box-box:hover{
    box-shadow: 0px 0px 8px 5px rgba(181,181,181,.7);
}
.product-box-logo img{
    position: absolute;
    width: 80px;
    min-height: auto;
    top: 2%;
    right: 2%;
}
.product-box-img{
    width: 100%;
    margin: 10px auto;
    height:30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #E5E7E9 ;
}
.product-box-img img{
    height: 14vh;
    width: auto;
    object-fit: cover;
}
.product-box-text{
    width: 93%;
    margin: 0 auto;
}
.product-box-text-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    color: #1e266d;
    letter-spacing: .2px;
}
.product-box-text-bottom{
    display: flex;
    padding-top: 10px;
    padding-bottom: 20px;
}
.product-box-text-bottom-button{
    width: 50%;
}
.product-box-text-bottom-button a{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: #d3f6f6;
    background-color: #1e266d;
    border: 2px solid #1e266d;
    border-radius: 6px;
    font-size: 10px;
    padding: 8px 9px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .2s ease-in-out;
}
.product-box-text-bottom-button a:hover{
    background-color: transparent;
    color: #1e266d;
}
.product-box-text-bottom-no{
    width: 50%;
}
.product-box-text-bottom-no a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color:#1e266d;
    font-size: 14px;
}
.product-box-text-bottom-no a:hover{
    color: #459ba0;
}
.searchbar{
    text-align: center;
    padding-bottom: 30px;
}
.searchbar input[type="text"], input[type="password"], textarea, select { 
    outline: none;
}
#searchbar{
    border: none;
    border-bottom: 2px solid #1e266d;
    width: 300px;
    padding-left: 1%;
    font-family: 'Raleway', sans-serif;
}
@media screen and (min-width:768px) and (max-width:1249px){
    .product-heading{
        font-size: 40px;
    }
    .product-box{
        min-height: 60vh ;
    }
    .product-box-box{
        width: 350px;
        margin: 10px 7px;
        min-height:30vh ;
    }
    .product-box-logo img{
        width: 80px;
        top: 2%;
        right: 2%;
    }
    .product-box-img{
        height:25vh;
    }
    .product-box-img img{
        height: 13vh;
    }
    .product-box-text{
        width: 93%;
        margin: 0 auto;
    }
    .product-box-text-heading{
        font-size: 21px;
        letter-spacing: .2px;
    }
    .product-box-text-bottom{
        padding-bottom: 20px;
    }
    .product-box-text-bottom-button a{
        font-size: 10px;
        padding: 8px 9px;
        letter-spacing: 1px;
    }
    .product-box-text-bottom-no a{
        font-size: 14px;
    }
}

@media screen and (max-width:767px){
    .product-box-img img{
        height: 15vh;
    }
}
/* -------------------------------------------------------- end products ------------------------------------------------------------ */

/* --------------------------------------------------------- contact us  ------------------------------------------------------------- */
.contact{
    margin: 40px auto;
    width: 90%;
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:linear-gradient(0deg, rgba(	0, 56, 122, .7), rgba(	0, 56, 122,.7)), url(../images/8.contact-us/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 30%;
}

.contact .content{
    width: 90%;
    text-align: center;
}
.contact .content h2{
    font-size: 50px;
    color: whitesmoke;
    font-family: 'Libre Franklin', sans-serif;

}
.contact .content p{
    font-size: 20px;
    color:#d3f6f6;
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon{
    width: 40px;
    height: 40px;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    flex-direction: column;
}

.container .contactInfo .box .text h3{
    color: #d3f6f6;
    font-family: 'Montserrat', sans-serif;
    margin: 1px 0;
    font-size: 20px;
}

.container .contactInfo .box .text p{
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    margin: 1px 0;
    font-size: 14px;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background: whitesmoke;
}

.contactForm h2{
    font-size: 30px;
    color: #00387a;
    font-family: 'Montserrat', sans-serif;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
    background: whitesmoke;
}

.contactForm .inputBox input,textarea{
    font-family: 'Raleway', sans-serif;
    background: whitesmoke;
    width: 100%;
    padding: 5px 0;
    font-size: 13px;
    margin: 10px 0;
    border: none;
    color: #1e266d;
    border-bottom: 2px solid #1e266d;
    outline: none;
    resize: none;
}

.contactForm .inputBox textarea{
    height: 100px;
    font-size: 13px;
    padding-top: 15px;
    font-family: 'Raleway', sans-serif;
    color: #1e266d;
}

.contactForm .inputBox span{
    font-family: 'Raleway', sans-serif;
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 10px;
    margin: 10px 0;
    pointer-events: none;
    transition: .5s;
    color: #00387a;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    font-size: 9px;
    transform: translateY(-16px);
}

.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background-color: #84e0e4;
    color: #00387a;
    border: 3px solid #84e0e4;
    cursor: pointer;
    padding: 10px;
    font-size: 17px;
    transition: .3s ease-in-out;
}
.contactForm .inputBox input[type="submit"]:hover{
    background-color: transparent;
    color: #00387a;
}

#status{
    width: 100%;
    /* width: inherit; */
    text-align: center;
    padding: 8px;
    margin: 10px auto;
    border-radius: 8px;
}
#status.success{
    background-color: rgb(211,250,153);
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    animation: status 4s ease forwards;
}
#status.error{
    background-color: rgb(250, 92, 92);
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    animation: status 4s ease forwards;
}

@keyframes status{
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}

.map{
    width: 90%;
    margin: 30px auto;
}

@media screen and (min-width:900px) and (max-width:1299px){
    .contact{
        width: 95%;
    }
    
    .contact .content{
        width: 90%;
    }
    .contact .content h2{
        font-size: 50px;
    }
    .contact .content p{
        font-size: 20px;
    }
    
    .container{
        width: 100%;
        margin-top: 30px;
    }
    
    .container .contactInfo .box .icon{
        width: 40px;
        height: 40px;
        font-size: 20px;
    }
    .container .contactInfo .box .text h3{
        font-size: 20px;
    }
    
    .container .contactInfo .box .text p{
        font-size: 14px;
    }
    
    .contactForm h2{
        font-size: 30px;
    }
    
    .contactForm .inputBox input,textarea{
        font-size: 14px;
    }
    
    .contactForm .inputBox span{
        font-size: 10px;
    }
    .contactForm .inputBox input:focus ~ span,
    .contactForm .inputBox input:valid ~ span,
    .contactForm .inputBox textarea:focus ~ span,
    .contactForm .inputBox textarea:valid ~ span{
        font-size: 9px;
    }
    
    .contactForm .inputBox input[type="submit"]{
        padding: 10px;
        font-size: 17px;
    }
    .map{
        width: 95%;
    }
}

@media screen and (min-width:768px) and (max-width:899px){
    .contact{
        width: 95%;
    }
    
    .contact .content{
        width: 90%;
    }
    .contact .content h2{
        font-size: 50px;
    }
    .contact .content p{
        font-size: 20px;
        width:100%;
        margin: 0 auto;
    }
    
    .container{
        width: 100%;
        margin-top: 30px;
    }
    
    .container .contactInfo .box .icon{
        width: 40px;
        height: 40px;
        font-size: 20px;
    }
    .container .contactInfo .box .text h3{
        font-size: 20px;
    }
    
    .container .contactInfo .box .text p{
        font-size: 14px;
    }
    
    .contactForm h2{
        font-size: 30px;
    }
    
    .contactForm .inputBox input,textarea{
        font-size: 14px;
    }
    
    .contactForm .inputBox span{
        font-size: 10px;
    }
    .contactForm .inputBox input:focus ~ span,
    .contactForm .inputBox input:valid ~ span,
    .contactForm .inputBox textarea:focus ~ span,
    .contactForm .inputBox textarea:valid ~ span{
        font-size: 9px;
    }
    
    .contactForm .inputBox input[type="submit"]{
        padding: 10px;
        font-size: 17px;
    }
    .map{
        width: 95%;
    }
}

@media screen and (max-width:767px){
    .contact{
        width: 95%;
        padding: 20px !important;
    }
    
    .contact .content{
        width: 100%;
    }
    .contact .content h2{
        font-size: 30px;
    }
    .contact .content p{
        font-size: 12px;
        width:100%;
        margin: 0 auto;
    }
    .container{
        width: 100%;
        margin-top: 30px;
    }

    .container .contactInfo .box{
        padding: 10px 0;
    }
    
    .container .contactInfo .box .icon{
        width: 40px;
        height: 40px;
        font-size: 15px;
    }
    .container .contactInfo .box .text h3{
        font-size: 15px;
    }
    
    .container .contactInfo .box .text p{
        font-size: 11px;
    }
    
    .contactForm h2{
        font-size: 20px;
    }
    
    .contactForm .inputBox input,textarea{
        font-size: 11px;
    }
    
    .contactForm .inputBox span{
        font-size: 8px;
    }
    .contactForm .inputBox input:focus ~ span,
    .contactForm .inputBox input:valid ~ span,
    .contactForm .inputBox textarea:focus ~ span,
    .contactForm .inputBox textarea:valid ~ span{
        font-size: 6px;
    }
    
    .contactForm .inputBox input[type="submit"]{
        padding: 8px;
        width: 80px;
        font-size: 10px;
    }
    .map{
        width: 95%;
    }
}

@media (max-width:991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo,.contactForm{
        width: 100%;
    }
}

/* -------------------------------------------------------- end contact us ------------------------------------------------------------ */