@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@900&family=Montserrat:wght@800&family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* 
font-family: 'Libre Franklin', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; 
*/

button:focus {outline:0;}


/* -------------------------------------------------------- header ------------------------------------------------------------ */

header{
    min-height: 100vh;
    background-color:white                       ;
}

/* ----------------- top lable ------------------ */
div.w3-container{
    padding-left: 0px;
    padding-right: 0px;
}
.pa{
    margin-bottom: 0px;
    margin-top: 0px;
}

.w3-bar{
    display: flex;
    justify-content: space-between;
    background-color: #1e266d;
    color: white !important;
    font-family: 'Roboto', sans-serif; 
}
.w3-bar a,p{
    font-size: 10px;
  }

.w3-bar-item{
    transition: .1s ease-out;
}

.w3-bar-item:hover{
    color: #d3f6f6;
}
@media (max-width: 439px){
    .w3-bar{
        display: block;
    }
    a.w3-bar-item{
        padding: 8px 5px !important;
    }
}
@media (max-width: 767px){
  .w3-bar a,p{
    font-size: 8px;
  }
  a.w3-bar-item.w3-button{
    padding: 8px 5px;
  }
}

/* --------------- navbar --------------------- */
.navbaru{
    position: relative;
    padding: 10px;
    background:#F2F3F4;
    box-sizing: border-box;
    box-shadow: 0 3px 3px 0px rgba(0,0,0,.2);
}

.navbaru-logo{
    position: absolute;
    top: 30%;
    left: 2%;
    width: 80px;
    float: left;
}
.navu{
    float: right;
}
.clearfix{
    clear: both;
}

.navu ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navu ul li{
    list-style: none;
    font-family: 'Roboto', sans-serif; 
    font-size: 12px;
    font-weight: 600;
}

.navu ul li a{
    display: block;
    margin: 0px 5px;
    padding: 8px 20px;
    text-decoration: none;
    color: black;
}
.navu ul li a.active,
.navu ul li a:hover{
    color: #00387a;
    transition: .5s;
}

@media screen and (max-width:649px){
    .navbaru-logo{
        top: 35%;
        width: 40px;
    }
    .navu ul li{
        font-size: 8px;
    }
    
    .navu ul li a{
        margin: 1px 3px;
        padding: 5px 10px;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 2;
  }

/* ------------------ carousel --------------------- */
.main-home{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    overflow: hidden;
    cursor: context-menu;
    min-height: 85vh;
}
.main-home-left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 65%;
}
.about-image{
    height: 60vh;
    width: 90%;
    margin: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image-in{
    height: 60vh;
    width: 90%;
    margin: auto;
}

.slideshow{
    width: 100%;
    height: 60vh;
    position: relative;
    overflow: hidden;
    opacity: .7;
    background-color: white;
}

.slideshow-item{
    width: inherit;
    height: inherit;
    position: absolute;
    opacity: 0;
    animation: cycleImages 20s infinite;
    background-position: center;
}

.slideshow-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    animation: zoom 20s infinite;
}

.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img{
    animation-delay: 0s;
}
.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img{
    animation-delay: 5s;
}
.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img{
    animation-delay: 10s;
}
.slideshow-item:nth-child(4),
.slideshow-item:nth-child(4) img{
    animation-delay: 15s;
}

@keyframes cycleImages{
    15%{
        opacity: 1;
    }
    30%{
        opacity: 0;
    }
}

@keyframes zoom{
    100%{
        transform: scale(1.3);
    }
}

.main-home-left-bottom{
    margin-top: 20px;
    display: flex;
    width: 84%;
    min-height: 20vh;
}

.main-home-left-bottom-box{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 22%;
    min-height: 23vh;
    margin: auto;
    background-color: #e5eef6;
    border-radius: 5px;
}
.main-home-left-bottom-box:hover{
    box-shadow: 0 0 5px 2px #E5E7E9;
}

.main-home-left-bottom-box h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color:#1e266d;
    font-weight: 1000;
    text-align: center;
}

.main-home-left-bottom-box p{
    font-family: 'Raleway', sans-serif;
    width: 90%;
    margin:0 auto;
    font-size: 10px;
    text-align: center;
    color:  #00387a;
}


.main-home-right{
    width: 35%;
    min-height: 60vh;
    transform: translateX(-5%);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.main-heading{
    width: 80%;
    font-size: 63px;
    font-family: 'Libre Franklin', sans-serif;
    color: #1e266d;
    letter-spacing: 3px;
    /* line-height: 12vh; */
}

.main-para{
    width: 80%;
    font-size: 15px;
    color:#00387a;
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif; 
    padding-top: 20px;
}

@media screen and (min-width:1000px) and (max-width:1299px){
    .about-image{
        width: 98%;
    }
    .about-image-in{
        width: 98%;
    }

    .main-home-left-bottom{
        width: 99%;
    }

    .main-home-right{
        margin-left: 30px;
        width: 30%;
    }
    .main-heading{
        width: 70%;
        font-size: 44px;
        font-weight: 1200;
        letter-spacing: 2px;
    }
    
    .main-para{
        width: 70%;
        font-size: 15px;
    }
}

@media screen and (min-width:768px) and (max-width:999px){
    .about-image{
        width: 98%;
    }
    .about-image-in{
        width: 98%;
    }

    .main-home-left-bottom{
        width: 99%;
    }

    .main-home-right{
        margin-left: 30px;
        width: 30%;
    }
    .main-heading{
        width: 70%;
        font-size: 30px;
        font-weight: 1200;
        letter-spacing: 2px;
    }
    
    .main-para{
        width: 90%;
        font-size: 15px;
    }

    .main-home-left-bottom-box h1{
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 800;
    }
    
    .main-home-left-bottom-box p{
        font-family: 'Raleway', sans-serif;
        width: 95%;
        margin:0 auto;
        font-size: 8px;
        text-align: left;
        margin-left: 5px;
    }
}

@media screen and (max-width:767px){
    .main-home{
        width: 100%;
        flex-direction: column;
        min-height: 85vh;
    }
    .main-home-left{
        width: 98%;
    }
    .about-image{
        height: 40vh;
        width: 98%;
    }
    
    .about-image-in{
        height: 40vh;
        width: 98%;
    }
    .slideshow{
        width: 100%;
        height: 40vh;
    }
    .main-home-left-bottom{
        width: 98%;
    }
    
    .main-home-left-bottom-box{
        width: 23%;
    }
    
    .main-home-left-bottom-box h1{
        font-size: 10px;
    }
    .main-home-left-bottom-box p{
        width: 95%;
        font-size: 7px;
    }
    .main-home-right{
        width: 95%;
        min-height: 20vh;
        transform: translateX(0%);
        justify-content: center;
    }
    .main-heading{
        padding-top: 15px;
        width: 95%;
        margin:0 auto;
        font-size: 18px;
        letter-spacing: 2px;
        text-align: center;
    }
    
    .main-para{
        width: 90%;
        margin: 0 auto;
        font-size: 11px;
        text-align: center;
    }
}

/* ---------------------------------------------------- end header ------------------------------------------------------------ */

/* ---------------------------------------------------- about ------------------------------------------------------------ */

.aboutus{
    width: 88%;
    margin: 50px auto 30px auto ;
    min-height: 80vh;
    background-color: #00387a;
    display: flex;
}

.aboutus-left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aboutus-left-heading{
    cursor: context-menu;
    text-align: center;
    font-size: 55px;
    font-family: 'Libre Franklin', sans-serif;
    color:white;
    letter-spacing: 3px;
    /* margin-top: 12%; */
}

.aboutus-left-para{
    cursor: context-menu;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color:#d3f6f6;
    width: 85%;
    margin-top: 20px;
    padding-left: 30px;
    line-height: 25px;
    letter-spacing: 1px;
}
.aboutus-left-button{
    padding-top: 30px;
    transition: .2s ease-out;
}

.aboutus-left-button a{
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    border-bottom: 2px solid white;
    padding: 8px 15px;
}
.aboutus-left-button:hover{
    transform: scale(1.05);
    
}

.aboutus-left-button a:hover{
    color: #d3f6f6;
    border-bottom: 2px solid #d3f6f6;
}

.aboutus-right{
    width: 50%;
    margin: auto;
    background-color:#00387a;
}

.aboutus-right img{
    height: 70vh;
    width: 95%;
    margin: auto;
    object-fit: cover;
    /* transform: translateY(7%); */
} 

@media screen and (min-width:900px) and (max-width:1299px){
    .aboutus{
        min-height: 63vh;
        width: 95%;
    }
    
    .aboutus-left-heading{
        font-size: 45px;
    }
    
    .aboutus-left-para{
        font-size: 13px;
        margin-top: 15px;
        padding-left: 25px;
        line-height: 22px;
    }
    .aboutus-left-button{
        padding-top: 25px;
    }
    
    .aboutus-left-button a{
        font-size: 12px;
        padding: 5px 15px;
    }
    .aboutus-left-button:hover{
        transform: scale(1.03);
        
    }
    .aboutus-right img{
        height: 55vh;
    }
}

@media screen and (min-width:768px) and (max-width:899px){
    .aboutus{
        min-height: 58vh;
        width: 95%;
    }
    
    .aboutus-left-heading{
        font-size: 40px;
    }
    
    .aboutus-left-para{
        width: 95%;
        font-size: 11px;
        margin-top: 15px;
        padding-left: 20px;
        line-height: 20px;
    }
    .aboutus-left-button{
        padding-top: 22px;
    }
    
    .aboutus-left-button a{
        font-size: 10px;
        padding: 5px 15px;
    }
    .aboutus-left-button:hover{
        transform: scale(1.03);
        
    }
    .aboutus-right img{
        height: 45vh;
    }
}

@media screen and (max-width:767px){
    .aboutus{
        min-height: 70vh;
        width: 95%;
        flex-direction: column;
    }
    .aboutus-left{
        width: 98%;
    }
    .aboutus-left-heading{
        padding-top: 15px;
        font-size: 35px;
    }
    
    .aboutus-left-para{
        width: 95%;
        font-size: 8px;
        margin-top: 12px;
        padding-left: 15px;
        line-height: 14px;
    }
    .aboutus-left-button{
        padding-top: 5px;
        padding-bottom: 13px;
    }
    
    .aboutus-left-button a{
        font-size: 8px;
        padding: 3px 12px;
    }
    .aboutus-left-button:hover{
        transform: scale(1.03);
        
    }
    .aboutus-right{
        height: 43vh;
        width: 100%;
        margin: auto;
    }
    
    .aboutus-right img{
        height: 40vh;
        width: 95%;
        margin: auto;
        transform: translateX(2.5%);
    } 
}
/* ---------------------------------------------------- end about ------------------------------------------------------------ */

/* ---------------------------------------------------- partners -------------------------------------------------------------- */

.partner{
    min-height: 40vh;
    padding-top: 20px;
}

.partner-heading{
    text-align: center;
    font-size: 60px;
    color: #00387a;
    font-family: 'Libre Franklin', sans-serif;
}
.logo-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 25px auto;
}

.logo-box-box{
    background-color: #f8f9fa;
    width: 19.7%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: .01px solid white;
    transition: box-shadow .2s linear;
    cursor: pointer;
}
.logo-box-box:hover{
    background-color: #f8f9fa;
    box-shadow: 0 0 2rem 0.5rem rgba(0, 0, 0, .08);
    border-radius: 2px;
    z-index: 2;
}

.logo-box-box img{
    width: 180px;
}

@media screen and (min-width:900px) and (max-width:1299px){
    .logo-box{
        width: 95%;
    }
    .logo-box-box{
        width: 20%;
        height: 22vh;
    }
    .logo-box-box img{
        width: 150px;
    }
}

@media screen and (min-width:768px) and (max-width:899px){
    .logo-box{
        width: 96%;
    }
    .logo-box-box{
        width: 20%;
        height: 20vh;
    }
    .logo-box-box img{
        width: 120px;
    }
}

@media screen and (max-width:767px){
    .partner-heading{
        font-size: 40px;
    }
    .logo-box{
        width: 96%;
    }
    .logo-box-box{
        width: 20%;
        height: 16vh;
    }
    .logo-box-box img{
        width: 60px;
    }
}
/* ---------------------------------------------------- end partners ------------------------------------------------------------ */

/* ---------------------------------------------------------- services -------------------------------------------------------------- */
.services{
    margin-top: 50px;
    min-height: 90vh;
}
.services-top{
    min-height: 50vh;
    width: 89%;
    margin: 0 auto;
    background:linear-gradient(0deg, rgba(255, 255, 255, .2), rgba(255, 255, 255,0.2)), url(../images/4.services/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 90%;
}
.services-top-text{
    width: 60%;
    min-height: 40vh;
    transform: translate(15%,12%);
    background:linear-gradient(0deg, rgba(	0, 56, 122, .7), rgba(	0, 56, 122,.7));
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.services-top-text .h1{
    color: white;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 55px;
    letter-spacing: 2px;
    margin-left: 5%;
}
.services-top-text .p{
    color: #d3f6f6;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 5%;
}
.services-bottom{
    min-height: 45vh;
    width: 89%;
    margin: 30px auto;
    display: flex;
}
.services-bottom-left{
    width: 65%;
    min-height: 40vh;
}
.services-bottom-left-text{
    width: 70%;
    min-height: 40vh;
    transform: translateX(20%);
    /* background-color: khaki; */
}
.services-bottom-left-text-h1{
    font-size: 30px;
    color: #1e266d;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2%;
}
.services-bottom-left-text-p{
    font-size: 13px;
    color:#00387a;
    font-family: 'Raleway', sans-serif;
    margin-left: 4%;
    margin-bottom: 2%;
}
.services-bottom-right{
    width: 32%;
    margin: 0 auto;
}
.services-bottom-right img{
    height:40vh;
    object-fit: cover;
    width: 98%;
    box-shadow: 8px 10px 14px -2px rgba(115,111,111,1);
}

.services-bottom-right-inner img{
    height:20vh;
    object-fit: cover;
    width: auto;
    transform: translate(-35%,-90%);
    box-shadow: 1px 11px 14px -2px rgba(115,111,111,1);
}

@media screen and (min-width:900px) and (max-width:1299px){
    .services-top{
        width: 95%;
    }
    .services-top-text{
        width: 70%;
        transform: translate(8%,12%);
    }
    .services-top-text .h1{
        font-size: 55px;
        letter-spacing: 2px;
        margin-left: 5%;
    }
    .services-top-text .p{
        font-size: 16px;
        letter-spacing: 1px;
        margin-left: 5%;
    }
    .services-bottom{
        width: 94%;
        margin: 30px auto;
    }
    .services-bottom-left{
        width: 65%;
        min-height: 40vh;
    }
    .services-bottom-left-text{
        width: 70%;
        min-height: 40vh;
        transform: translateX(12%);
    }
    .services-bottom-left-text-h1{
        font-size: 25px;
        margin-bottom: 2%;
    }
    .services-bottom-left-text-p{
        font-size: 13px;
        margin-left: 4%;
        margin-bottom: 2%;
    }
    .services-bottom-right{
        width: 32%;
        margin: 0 auto;
    }
    .services-bottom-right img{
        height:35vh;
        width: 98%;
    }
    
    .services-bottom-right-inner img{
        height:16vh;
        width: auto;
        transform: translate(-35%,-90%);
    }
}

@media screen and (min-width:768px) and (max-width:899px){
    .services-top{
        width: 95%;
    }
    .services-top-text{
        width: 70%;
        transform: translate(5%,12%);
    }
    .services-top-text .h1{
        font-size: 55px;
        letter-spacing: 2px;
        margin-left: 5%;
    }
    .services-top-text .p{
        font-size: 16px;
        letter-spacing: 1px;
        margin-left: 5%;
    }
    .services-bottom{
        width: 98%;
        margin: 30px auto;
    }
    .services-bottom-left{
        width: 65%;
        min-height: 40vh;
    }
    .services-bottom-left-text{
        width: 70%;
        min-height: 40vh;
        transform: translateX(11%);
    }
    .services-bottom-left-text-h1{
        font-size: 22px;
        margin-bottom: 2%;
    }
    .services-bottom-left-text-p{
        font-size: 12px;
        margin-left: 4%;
        margin-bottom: 2%;
    }
    .services-bottom-right{
        width: 32%;
        margin: 0 auto;
    }
    .services-bottom-right img{
        height:32vh;
        width: 98%;
    }
    
    .services-bottom-right-inner img{
        height:16vh;
        width: auto;
        transform: translate(-35%,-90%);
    }
}

@media screen and (max-width:767px){
    .services-top{
        width: 95%;
    }
    .services-top-text{
        width: 85%;
        transform: translate(5%,12%);
    }
    .services-top-text .h1{
        font-size: 40px;
        letter-spacing: 2px;
        margin-left: 5%;
    }
    .services-top-text .p{
        font-size: 13px;
        letter-spacing: 1px;
        margin-left: 5%;
    }
    .services-bottom{
        width: 98%;
        margin: 30px auto;
    }
    .services-bottom-left{
        width: 65%;
        min-height: 40vh;
    }
    .services-bottom-left-text{
        width: 83%;
        min-height: 40vh;
        transform: translateX(9%);
    }
    .services-bottom-left-text-h1{
        font-size: 14px;
        margin-bottom: 2%;
    }
    .services-bottom-left-text-p{
        font-size: 7px;
        margin-left: 4%;
        margin-bottom: 2%;
    }
    .services-bottom-right{
        width: 32%;
        margin: 0 auto;
    }
    .services-bottom-right img{
        height:32vh;
        width: 100%;
    }
    
    .services-bottom-right-inner img{
        height:12vh;
        width: auto;
        transform: translate(-35%,-90%);
    }
}
/* -------------------------------------------------------- end services ------------------------------------------------------------ */
